
// Colors
$primary-color: #3498db;
$secondary-color: #2ecc71;

// Breakpoints
$extra-small-screen: 480px;   // Dispositivos móviles pequeños
$small-screen: 576px;         // Dispositivos móviles
$medium-screen: 768px;        // Tablets
$large-screen: 992px;         // Laptops y pequeñas pantallas de escritorio
$extra-large-screen: 1200px;   // Pantallas de escritorio más grandes
$huge-screen: 1440px;          // Pantallas grandes y ultrawide
$ultra-screen: 1920px;         // Pantallas ultra grandes (Full HD)
$mega-screen: 2560px;          // Pantallas mega grandes (2K)
$giga-screen: 3840px;          // Pantallas gigantes (4K)

